@charset "utf-8";

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html,
body {
    /* Prevent font scaling in landscape */

    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/

    -moz-text-size-adjust: none;
    /*Firefox*/

    -ms-text-size-adjust: none;
    /*Ie*/

    -o-text-size-adjust: none;
    /*old versions of Opera*/
}

body {
    font-family: 'Suit';
    font-size: 16px;
    line-height: 1.5em;
    color: #3F3833;
}


#wrap {
    /* width: 1920px; */
    min-width: 1410px;
    overflow: hidden;
}

#header {
    background-color: #F4F0EB;
    width: 100%;
    height: 80px;
}

.header_inner {
    width: 1410px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.gnb {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.gnb li {
    color: #3D3733;
    display: block;
    margin: 30px;
}

#visual {
    height: 730px;
    position: relative;
    overflow: hidden;
}

.banner_video {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: -1;
}

.banner_video video {
    width: 100%;
    display: block;
}

.banner_text {
    width: 1410px;
    margin: 0 auto;
    color: #FAF8F5;
    padding: 200px 0 0 0;
}

.banner_text1 {
    font-weight: 800;
    font-size: 70px;
    line-height: 1.3em;
}

.banner_text2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5em;
}

#why_path {
    background-color: #3D3733;
    height: 880px;
}

.why_path_inner {
    width: 1410px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.why_path_inner video {
    display: block;
    width: 100%;
    height: 100%;
}

.why_path_left {
    width: 450px;
    height: 550px;
    position: absolute;
    top: 100px;
    left: 0;
}

.why_path_right {
    width: 400px;
    height: 500px;
    position: absolute;
    bottom: 80px;
    right: 0;
}

.why_path_text {
    color: #FAF8F5;
    position: absolute;
    top: 270px;
    left: 525px;
    text-align: center;
}

h2 {
    font-family: 'Paperozi';
    font-weight: 700;
    font-size: 55px;
    line-height: 1.5em;
}

.sub_title2 {
    font-family: 'Paperozi';
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5em;
    margin: 30px 0 20px;
}

.container_text {
    font-size: 18px;
    line-height: 1.5em;
}

#why_path_sub {
    width: 1410px;
    margin: 0 auto;
    height: 590px;
    padding: 110px 110px 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.why_path_sub img {
    display: block;
    width: 350px;
    height: 234px;
}

.sub_title1 {
    font-weight: 800;
    font-size: 32px;
    line-height: 1.5em;
}

.sub_title3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5em;
}

#treatments {
    background: url(../images/main/wavebg.jpg) no-repeat;
    height: 970px;
    background-size: cover;
}

.treatments_inner {
    width: 1410px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.treatments_endo {
    width: 420px;
    position: absolute;
    top: 80px;
    left: 0;
}

.treatments_endo img {
    display: block;
    width: 100%;
    height: 420px;
}

.left_text,
.right_text {
    text-align: center;
    margin: 15px 0;
}

.treatments_sub {
    font-weight: 600;
    font-size: 26px;
    line-height: 1.5em;
    margin-top: 30px;
}

.treatments_p {
    font-size: 20px;
    line-height: 1.5em;
    margin: 15px 0 20px;
}

.btn {
    font-weight: 500;
    display: inline-block;
    border: 1px solid #3D3733;
    border-radius: 50px;
    padding: 10px 20px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #3D3733;
    color: #FAF8F5;
}

.treatments_implant {
    display: block;
    width: 420px;
    position: absolute;
    bottom: 50px;
    right: 0;
}

.treatments_implant img {
    display: block;
    width: 100%;
    height: 420px;
}

.treatments_text {
    position: absolute;
    top: 130px;
    left: 500px;
    text-align: left;
}

#faq {
    background-color: #F4F0EB;
    height: 915px;
    padding: 100px 0 80px;
    box-sizing: border-box;
}

.faq_inner {
    width: 1410px;
    margin: 0 auto;
    height: 100%;
}

.btn2 {
    display: flex;
    justify-content: flex-end;
}

.plus {
    font-size: 20px;
}

.btn2 a {
    display: flex;
    align-items: center;
    gap: 6px;
}

.faq_img {
    height: 514px;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
}

/* swiper */
.faq_img .screen {
    position: relative;
    overflow: hidden;
}

.faq_img .screen img {
    width: 100%;
    display: block;
}

.faq_img .bottom {
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: -20%;
    left: 0;
    z-index: 2;
    font-weight: bold;
    color: #333;
    transition: all 0.5s;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
}


.faq_img .swiper-slide-active .bottom {
    bottom: 0%;
}

.faq_img .swiper-slide {
    transform: scale(0.8) !important;
    transition: all 1s;
}

.faq_img .swiper-slide-active {
    transform: scale(1) !important;
}

.faq_img .swiper-pagination-bullet-active {
    background: #3D3733;
}



#todayspath {
    background: url(../images/main/todayspathbanner.jpg) no-repeat center;
    height: 305px;
    background-size: cover;
    transition: transform .35s ease,
        box-shadow .35s ease, ;
}

.todayspath_inner {
    width: 1410px;
    margin: 0 auto;
    height: 100%;
    padding: 80px 0 80px 125px;
    box-sizing: border-box;
}

#todayspath:hover {
    transform: scale(1.015);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .12);
}

#place {
    background-color: #F4F0EB;
    height: 835px;
}

.place_inner {
    width: 1410px;
    margin: 0 auto;
    height: 100%;
    padding: 100px 80px 80px;
    box-sizing: border-box;
}

.place_top {
    width: 1150px;
    display: flex;
    gap: 100px;
}

.place_bottom {
    width: 1148px;
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 80px;
}

.contact_inner {
    width: 1410px;
    margin: 0 auto;
    padding: 100px 0;
    box-sizing: border-box;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

[data-aos="fade-right"] {
    transform: translate3d(-100px, 0, 0);
}

[data-aos="fade-left"] {
    transform: translate3d(100px, 0, 0);
}

.contact_number {
    font-size: 50px;
    line-height: 1.5em;
    margin: 60px 0 80px;
}

.contact_title {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.5em;
    margin-bottom: 30px;
}

.contact_days {
    display: flex;
}

.days {
    font-weight: 700;
    margin-right: 15px;
}

.saturday {
    font-size: 15px;
    line-height: 1.5em;
    margin: 20px 0 50px;
}

.contact_text {
    font-size: 18px;
}

.map{
    width: 873px;
    height: 434px;
}

.map iframe{
    width: 100%;
    height: 100%;
}

#night {
    background: url(../images/main/night.jpg) no-repeat center;
    height: 500px;
    background-size: cover;
}

.night_inner {
    width: 1410px;
    margin: 0 auto;
    height: 100%;
    padding: 280px 0 50px 80px;
    box-sizing: border-box;
    color: #FAF8F5;
}

.night_text1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.5em;
}

.night_text2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5em;
}

#footer {
    background-color: #3D3733;
    height: 220px;
}

.footer_inner {
    width: 1410px;
    margin: 0 auto;
    height: 100%;
    padding: 30px 0;
    box-sizing: border-box;
    color: rgba(250, 248, 245, 0.7);
}

.footer_inner1 {
    display: flex;
    justify-content: space-between;
}

.footer_inner2 {
    display: flex;
}

.footer_inner2 li {
    margin-left: 30px;
}

.footer_inner3 {
    margin-top: 20px;
}